<div class="container text-center">
  <img src="https://source.unsplash.com/random/200x200" alt="profile-pict" class="img-thumbnail rounded-circle mb-3" width="200">
  <h3>Mamat Kompresor</h3>
  <span class="lead">Comedian | Pakar Parasmanan</span>
</div>